<!DOCTYPE html>
<html lang="en">
<head>
    <!--link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main1.css') }}">
    <!--link rel="stylesheet" type="text/css" href="main.css"-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="context-menu" style="display:none">
    <!-- The actual menu that will be displayed-->
    <ul class="dropdown-menu">
        {% for dc in drill_down_by %}
        <li class="drill-down-item">{{ dc }}</li>
        {% endfor %}
    </ul>
</div>

<ul id="content">
    {% autoescape off %}
    {{ content }}
    {% endautoescape %}
</ul>


<script src="{{ url_for('static', filename ='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/contextmenu.js') }}"></script>
<script type="text/javascript">

    let clicked_node_id;

    function on_load() {

        //let clicked_node_id;

        $('.btn')
            .on('click', function () {
                let collapse_id = $(this).attr('id');
                collapse(collapse_id);

            })
            .on('contextmenu', function () {
                clicked_node_id = $(this).attr('id');
                console.log("context menu", clicked_node_id)
            })
            .contextmenu({
                target: "#context-menu",
            });

        $('.drill-down-item').on('click', function () {
            console.log("expand", clicked_node_id);
            expand(clicked_node_id, $(this).text())
        })
    }

    function collapse(node_id) {
        console.log(node_id);
        const data = {
            command: 'collapse',
            id: node_id,
        };
        $.post('/', data, function (resp) {
            $("#content").html(resp);
            //on_load()
            location.reload()
        });
    }

    function expand(node_id, expand_by) {
        console.log(node_id);
        const data = {
            command: 'expand',
            id: node_id,
            by: expand_by
        };
        $.post('/', data, function (resp) {
            $("#content").html(resp);
            //on_load();
            location.reload()
        });
    }


/*
    $(document).ready(function () {

        let clicked_node_id;


        $('.btn')
            .on('click', function () {
                collapse($(this).attr('id'))
            })
            .on('contextmenu', function () {
                clicked_node_id = $(this).attr('id')
            })
            .contextmenu({
                target: "#context-menu",
            });

        $('.drill-down-item').on('click', function () {
            expand(clicked_node_id, $(this).text())
        })
    });
 */

    $(document).ready(function () {
        on_load();
    });

</script>
</body>
</html>